
html, body {
		    max-width: 100%;
		    overflow-x: hidden;
	}
	#archL1 {
		position: absolute;
		bottom: -5px;
		left: 0px;
	}
	#archR1 {
		position: absolute;
		bottom: -5px;
		right: 0px;
	}
	#archL2 {
		position: absolute;
		bottom: -5px;
		left: 35px;
	}
	#archR2 {
		position: absolute;
		bottom: -5px;
		right: 35px;
	}
	#paint {
		position: absolute;
		bottom: 94px;
		left: 198px;
	}
	#ladderL {
		position: absolute;
		bottom: -5px;
		left: 160px;
	}
	#ladderR {
		position: absolute;
		bottom: -5px;
		left: 200px;
	}
	#constr {
		position: absolute;
		bottom: -8px;
		right: 200px;
	}
	#buttons {
		position: absolute;
		top: 370px;
		right: 10px;
	}
	#doors {
		position: absolute;
		bottom: 0px;
		margin-left: -50px;
		margin-right: -50px;
    }

	#outer {
	  width: 100%;
	  text-align: center;
	}

	#inner {
	  display: inline-block;
	}

	#sign2 {
		position: absolute;
		bottom: 30px;
	        margin-left: 90px;

	}
	#sign1 {
		position: absolute;
		bottom: 30px;
	        margin-left: -285px;

	}
	#catrun {
		position: absolute;
		bottom: -6px;
		left: 0px;
	}

	div#container {height:100px;width:100px;}

	div.a {
		width: 50px;
		height:50px;
		background-color:red;
		position:fixed;
	}

	a {
 	   color: #000077;
	}

	a, u {
	    //text-decoration: none;
	}



